.App {
  text-align: center;
  background-image: url(https://puzzleit.ru/files/puzzles/211/210738/_original.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
