@import "../../vars.module.scss";

.task-list {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  max-height: 800px;
  overflow-y: auto;

  &-light {
    background-color: $main-background-color-light;
    border: 1px solid $border-color-light;
  }

  &-dark {
    background-color: $main-background-color-dark;
    border: 1px solid $border-color-dark;
  }
}
