@import "../../vars.module.scss";

.task-list {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  max-height: 800px;
  overflow-y: auto;

  &-light {
    background-color: $main-background-color-light;
    border: 1px solid $border-color-light;
  }

  &-dark {
    background-color: $main-background-color-dark;
    border: 1px solid $border-color-dark;
  }

  &-no-tasks {
    font-size: 16px;

    &-light {
      color: $title-color-light;
    }
    &-dark {
      color: $title-color-dark;
    }
  }

  &-title {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;

    &-light {
      color: $title-color-light;
    }
    &-dark {
      color: $title-color-dark;
    }
  }
}

.task-list-loading {
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  max-height: 800px;
  overflow-y: auto;
  margin: 0 auto;

  &-light {
    background-color: $main-background-color-light;
    border: 1px solid $border-color-light;
    color: $text-color-light;
  }

  &-dark {
    background-color: $main-background-color-dark;
    border: 1px solid $border-color-dark;
    color: $text-color-dark;
  }
}
