#task-add {
  background-color: rgb(170, 213, 235);
  text-align: left;
  padding: 20px;
  margin-bottom: 12px;
  border-radius: 20px;
  border: 1px solid #fefefe;
}

.input {
  margin: 10px;
}

.input label {
  font-size: 14px;
  color: rgb(220, 54, 142);
  margin-right: 10px;
  display: inline-block;
  width: 200px;
}

.input input {
  border: 1px solid #fefefe;
  background-color: rgb(185, 141, 190);
  font-size: 14px;
  color: white;
  padding: 5px;
  width: 358px;
  border-radius: 5px;
}

#actions {
  text-align: right;
  margin: 10px;
}

#add-button {
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: #fae7f0;
  color: rgb(37, 36, 36);
  width: 90px;
  cursor: pointer;
}

#add-button:hover {
  background-color: #fa70b1;
  color: #fff;
}

#add-button:disabled {
  background-color: #838182;
  color: rgb(219, 219, 219);
  cursor: not-allowed;
}
